# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
__pycache__/
*$py.class

# My configurations:
db.ini
deploy_key_rsa
.idea/

# data
/data/
/res/
/res_cmn/
/res_spa/

# model file
/cmn_bio_model0/
/cmn_bio_model1/
